<div id="ssg-items" data-item-index="{{index}}">
	<button class="ssg-btn prev" {{prevEnabled}} >&lt;</button>
	<span class="item-title">{{title}}</span>
	<button class="ssg-btn next" {{nextEnabled}} >&gt;</button>
</div>