
	<input type="numeric" id="ssg-vp-w" class="ssg-input-s" value="{{width}}">
	<span id="ssg-vp-by">x</span>
	<input type="numeric" id="ssg-vp-h" class="ssg-input-s" value="{{height}}">
	<button id="ssg-btn-disco" class="ssg-btn">Disco</button>
{{!-- Currently disabled needs to be implemented later 	
	<button class="ssg-vp-btn">XL</button>
	<button class="ssg-vp-btn">L</button>
	<button class="ssg-vp-btn">M</button>
	<button class="ssg-vp-btn">s</button> --}}