// bower:scss
@import "bower_components/susy/sass/_susy.scss";
// endbower
@import url(https://n8design.sharepoint.com/_layouts/15/1033/styles/QCB.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
// @import 'molecules/figure';
// @import 'grid.config';
$blue: #318eb1;

.card{
    display: inline-block;
    &:hover{
        background-color: rgba($blue, 0.1);
    }
    &-image{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &-headline{
        color: $blue;
        font-size: 200%;
        border-bottom: 3px $blue solid;
        margin-bottom: 20px;
        padding: 0.5em 0.5em;
        font-family: 'Lobster', sans-serif;
    }
    &-content{
        padding: 0.5em 1em;
    }
}

.card-container{
    .card{
        width: 30%;
        margin: 2% 1.5%;
    }
}

// h1,
// h2,
// h3,
// h4{
//     font-family: 'Pacifico', sans-serif;
//     color: $blue !important;
// }