<label for="ic" class="ssg-label">Color input</label>
<input type="color" id="ic" value="#000000"><br>
<label for="in" class="ssg-label">Number input</label>
<input type="number" id="in" min="0" max="10" value="5"><br>
<label for="ir" class="ssg-label">Range input</label>
<input type="range" id="ir" value="10"><br>
<label for="idd"  class="ssg-label">Date input</label>
<input type="date" id="idd" value="1970-01-01"><br>
<label for="idm"  class="ssg-label">Month input</label>
<input type="month" id="idm" value="1970-01"><br>
<label for="idw"  class="ssg-label">Week input</label>
<input type="week" id="idw" value="1970-W01"><br>
<label for="idt"  class="ssg-label">Datetime input</label>
<input type="datetime" id="idt" value="1970-01-01T00:00:00Z"><br>
<label for="idtl"  class="ssg-label">Datetime-local input</label>
<input type="datetime-local" id="idtl" value="1970-01-01T00:00"><br>