<div class="c-block">
  <a class="ms-heroCommandLink" href="#" title="Command Link">command link</a>
</div>

<div class="c-block ms-disabled">
  <a class="ms-heroCommandLink ms-disabled" href="#" title="Disabled Command Link">command link - disabled</a>
</div>

<div class="c-block">
  <a class="ms-secondaryCommandLink" href="#" title="Secondary Command Link">Seconday command link</a>
</div>

<div class="c-block ms-disabled">
  <a class="ms-secondaryCommandLink ms-disabled" href="#" title="Secondary Command Link">Seconday command link - disabled</a>
</div>

<div class="c-block">
  <a class="ms-calloutLink" href="#" title="Secondary Command Link">Callout link</a>
</div>

<div class="c-block ms-disabled">
  <a class="ms-calloutLink ms-disabled" href="#" title="Secondary Command Link">Callout link - disabled</a>
</div>