<div class="c-block">
  <a id="idHomePageNewItem" href="#" class="ms-heroCommandLink ms-hero-command-enabled-alt" target="_self" title="Add a new item to this list or library.">
    <span class="ms-list-addnew-imgSpan20">
      <span class="ms-qcb-glyph ms-listview-old-new-glyph-large ms-listview-glyph ms-listview-old-new-glyph ms-listview-old-new-glyph-circle "></span>
    </span>
    <span>button</span>
  </a>
</div>

<div class="c-block">
  <a id="idHomePageNewItem" href="#" class="ms-heroCommandLink ms-hero-command-enabled-alt ms-disabled" target="_self" title="Add a new item to this list or library.">
    <span class="ms-list-addnew-imgSpan20">
      <span class="ms-qcb-glyph ms-listview-old-new-glyph-large ms-listview-glyph ms-listview-old-new-glyph ms-listview-old-new-glyph-circle "></span>
    </span>
    <span>button</span>
  </a>
</div>

<div class="c-block">
  <button class="ms-qcb-button js-listview-qcbEditButton ms-textXLarge ms-heroCommandLink js-qcb-button" type="button" title="Enabled Button">
    <span class="ms-qcb-glyph ms-listview-glyph"></span>
    Button
    <span class="ms-qcb-glyph"></span>
  </button>
</div>
<div class="c-block">
  <button class="ms-qcb-button js-listview-qcbEditButton ms-textXLarge ms-heroCommandLink js-qcb-button ms-disabled" disabled="disabled" type="button" title="Disabled Button">
    <span class="ms-qcb-glyph ms-listview-glyph ms-disabled"></span>
    Button
    <span class="ms-qcb-glyph  ms-disabled"></span>
  </button>
</div>