<div class="c-form-line">

    <select title="Choice Field" class="ms-RadioText">
        <option value="Enter Choice #1" selected="selected">Enter Choice #1</option>
        <option value="Enter Choice #2">Enter Choice #2</option>
        <option value="Enter Choice #3">Enter Choice #3</option>
    </select>

</div>
<div class="c-form-line">

    <table cellpadding="0" cellspacing="1">
        <tbody>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #1">
                        <input type="radio" value="Enter Choice #1" checked="checked">
                        <label>Enter Choice #1</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #2">
                        <input type="radio">
                        <label>Enter Choice #2</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #3">
                        <input type="radio" value="Enter Choice #3">
                        <label>Enter Choice #3</label>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="c-form-line">
    <table cellpadding="0" cellspacing="1">
        <tbody>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #1">
                        <input type="checkbox" checked="checked">
                        <label>Enter Choice #1</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #2">
                        <input type="checkbox">
                        <label>Enter Choice #2</label>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="ms-RadioText" title="Enter Choice #3">
                        <input type="checkbox">
                        <label>Enter Choice #3</label>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>