<div class="c-line-block">
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="ms-dtinput">
                <label style="display:none">Date Date</label>
                <input type="text" value="" maxlength="45" title="Date" class="ms-input" autopostback="0">
            </td>
            <td class="ms-dtinput">
                <a href="#"><img src="http://n8design-public.sharepoint.com/_layouts/15/images/calendar_25.gif?rev=38" border="0" alt="Select a date from the calendar."></a>
            </td>
        </tr>
    </tbody>
</table>

</div>
<div class="c-line-block">

<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="ms-dtinput">
                <label style="display:none">Date Date</label>
                <input type="text" value="" maxlength="45" title="Date" class="ms-input" autopostback="0">
            </td>
            <td class="ms-dtinput">
                <a href="#"><img src="http://n8design-public.sharepoint.com/_layouts/15/images/calendar_25.gif?rev=38" border="0" alt="Select a date from the calendar."></a>
            </td>
            <td>
                <iframe src="http://n8design-public.sharepoint.com/_layouts/15/images/blank.gif?rev=38" frameborder="0" scrolling="no" style="display:none; position:absolute; width:200px; z-index:101;" title="Select a date from the calendar."></iframe>
            </td>
            <td class="ms-dttimeinput" nowrap="nowrap">
                <label style="display:none">Date Hours</label>
                <select dir="ltr">
                    <option value="0" selected="selected">12 AM</option>
                    <option value="1">1 AM</option>
                    <option value="2">2 AM</option>
                    <option value="3">3 AM</option>
                    <option value="4">4 AM</option>
                    <option value="5">5 AM</option>
                    <option value="6">6 AM</option>
                    <option value="7">7 AM</option>
                    <option value="8">8 AM</option>
                    <option value="9">9 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">1 PM</option>
                    <option value="14">2 PM</option>
                    <option value="15">3 PM</option>
                    <option value="16">4 PM</option>
                    <option value="17">5 PM</option>
                    <option value="18">6 PM</option>
                    <option value="19">7 PM</option>
                    <option value="20">8 PM</option>
                    <option value="21">9 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11 PM</option>
                </select>&nbsp;<label style="display:none">Date Minutes</label>
                <select dir="ltr">
                    <option value="00" selected="selected">00</option>
                    <option value="05">05</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
</div>