<div class="ms-rtestate-field ms-rtefield ms-inputBox">
	<div style="display:none">Rich text editor multi line of text</div>
	<div class="ms-rtestate-write ms-rteflags-0 ms-rtestate-field" style="min-height:84px">
		<p>​</p>
	</div>
	<div style="clear : both;"></div>
</div>