<div class="c-block">
    <!-- Text field -->
    <input type="text" value="" maxlength="255" title="Title Required Field" class="ms-long ms-spellcheck-true">
</div>
<div class="c-block">
    <!-- Number Field -->
    <input type="text" value="" title="Number" size="11" class="ms-input" style="ime-mode : inactive">
</div>
<div class="c-block">
    <!-- Number in percentage -->
    <input type="text" value="" title="Number in percent" size="11" class="ms-input" style="ime-mode : inactive">%
</div>
<div class="c-block">
    <!-- Currency -->
    <input type="text" value="" title="Currency" size="11" class="ms-input" style="ime-mode : inactive">
</div>