<div class="color-block1"></div>
<div class="color-block2"></div>
<div class="color-block3"></div>
<div class="color-block4"></div>
<div class="color-block5"></div>
<div class="color-block6"></div>
<div class="color-block7"></div>
<div class="color-block8"></div>
<div class="color-block9"></div>