<h1><a href="#">This is a standard healine h1 with hypelink</a></h1>
<h2><a href="#">This is a standard healine h2 with hypelink</a></h2>
<h3><a href="#">This is a standard healine h3 with hypelink</a></h3>
<h4><a href="#">This is a standard healine h4 with hypelink</a></h4>