<div class="ms-rtestate-field">
    <h1><a href="#">This is a standard healine h1</a></h1>
    <h2><a href="#">This is a standard healine h1</a></h2>
    <h3><a href="#">This is a standard healine h1</a></h3>
    <h4><a href="#">This is a standard healine h1</a></h4>
</div>