<div class="ms-rtestate-field">
    <table cellspacing="0" width="100%" class="ms-rteTable-default">
        <tbody>
            <tr class="ms-rteTableHeaderRow-default">
                <th class="ms-rteTableHeaderFirstCol-default" rowspan="1" colspan="1" style="width:20%;">​T​able Header 1</th>
                <th class="ms-rteTableHeaderOddCol-default" rowspan="1" colspan="1" style="width:20%;">​Table Header 2</th>
                <th class="ms-rteTableHeaderEvenCol-default" rowspan="1" colspan="1" style="width:20%;">​Table Header 3</th>
                <th class="ms-rteTableHeaderOddCol-default" rowspan="1" colspan="1" style="width:20%;">​Table Header 4</th>
                <th class="ms-rteTableHeaderEvenCol-default" rowspan="1" colspan="1" style="width:20%;">​Table Header 5</th>
            </tr>
            <tr class="ms-rteTableOddRow-default">
                <th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1">​Table Header</th>
                <td class="ms-rteTableOddCol-default">​Table Cell</td>
                <td class="ms-rteTableEvenCol-default">​Table Cell</td>
                <td class="ms-rteTableOddCol-default">​Table Cell</td>
                <td class="ms-rteTableEvenCol-default">​Table Cell</td>
            </tr>
            <tr class="ms-rteTableEvenRow-default">
                <th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1">​Table Header<br></th>
                <td class="ms-rteTableOddCol-default">​Table Cell<br></td>
                <td class="ms-rteTableEvenCol-default">​Table Cell<br></td>
                <td class="ms-rteTableOddCol-default">​Table Cell<br></td>
                <td class="ms-rteTableEvenCol-default">​Table Cell<br></td>
            </tr>
            <tr class="ms-rteTableOddRow-default">
                <th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1">​Table Header<br></th>
                <td class="ms-rteTableOddCol-default">​Table Cell<br></td>
                <td class="ms-rteTableEvenCol-default">​Table Cell<br></td>
                <td class="ms-rteTableOddCol-default">​Table Cell<br></td>
                <td class="ms-rteTableEvenCol-default">​Table Cell<br></td>
            </tr>
            <tr class="ms-rteTableFooterRow-default">
                <th class="ms-rteTableFooterFirstCol-default" rowspan="1" colspan="1">​Table Footer<br></th>
                <td class="ms-rteTableFooterOddCol-default">​Table Footer<br></td>
                <td class="ms-rteTableFooterEvenCol-default">​Table Footer<br></td>
                <td class="ms-rteTableFooterOddCol-default">​Table Footer<br></td>
                <td class="ms-rteTableFooterEvenCol-default">​Table Footer<br></td>
            </tr>
        </tbody>
    </table>
    <table class="ms-rteTable-default" cellspacing="0" style="font-size:17px;width:593px;">
        <tbody>
            <tr class="ms-rteTableHeaderRow-default">
                <th class="ms-rteTableHeaderFirstCol-default" rowspan="1" colspan="1" style="width:117px;">​ÜBERSC​HRIFT<br></th>
                <th class="ms-rteTableHeaderOddCol-default" rowspan="1" colspan="1" style="width:116px;">​​ÜBERSCHRIFT</th>
                <th class="ms-rteTableHeaderEvenCol-default" rowspan="1" colspan="1" style="width:117px;">​​ÜBERSCHRIFT</th>
                <th class="ms-rteTableHeaderLastCol-default" rowspan="1" colspan="1" style="width:117px;">​​LETZTE ZEILE</th>
            </tr>
            <tr class="ms-rteTableOddRow-default">
                <th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1" style="width:117px;">​ERSTE SPALTE</th>
                <td class="ms-rteTableOddCol-default" rowspan="1" style="width:116px;">​</td>
                <td class="ms-rteTableEvenCol-default" rowspan="1" style="width:117px;">​</td>
                <td class="ms-rteTableLastCol-default" rowspan="1" style="width:117px;">​Letzte Spalte​<br></td>
            </tr>
            <tr class="ms-rteTableEvenRow-default">
                <th class="ms-rteTableFirstCol-default" rowspan="1" colspan="1">​​ERSTE SPALTE</th>
                <td class="ms-rteTableOddCol-default">​</td>
                <td class="ms-rteTableEvenCol-default">​</td>
                <td class="ms-rteTableLastCol-default">​Letzte Spalte</td>
            </tr>
            <tr class="ms-rteTableFooterRow-default">
                <th class="ms-rteTableFooterFirstCol-default" rowspan="1" colspan="1">​​ERSTE SPALTE</th>
                <td class="ms-rteTableFooterOddCol-default">​LETZTE ZEILE</td>
                <td class="ms-rteTableFooterEvenCol-default">​LETZTE ZEILE</td>
                <td class="ms-rteTableFooterLastCol-default">​LETZTE SPALTE</td>
            </tr>
        </tbody>
    </table>
</div>