<div id="zz12_V4QuickLaunchMenu" class=" noindex ms-core-listMenu-verticalBox">
    <ul id="zz13_RootAspMenu" class="root ms-core-listMenu-root static">
        <li class="static">
            <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" href="/test">
                <span class="additional-background ms-navedit-flyoutArrow">
                    <span class="menu-item-text">Arbeit &amp; Leben</span>
                </span>
            </a>
        </li>
    </ul>
</div>

<div id="zz12_V4QuickLaunchMenu" class=" noindex ms-core-listMenu-verticalBox">
    <ul id="zz13_RootAspMenu" class="root ms-core-listMenu-root static">
        <li class="static">
            <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" href="/test">
                <span class="additional-background ms-navedit-flyoutArrow">
                    <span class="menu-item-text">test</span>
                </span>
            </a>
            <ul class="static">
                <li class="static">
                    <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" href="/test/neue-navigation-links">
                        <span class="additional-background ms-navedit-flyoutArrow">
                            <span class="menu-item-text">Neue Navigation links</span>
                        </span>
                    </a>
                </li>
                <li class="static">
                    <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" href="/test/neue-navigation-links-2">
                        <span class="additional-background ms-navedit-flyoutArrow">
                            <span class="menu-item-text">Neue Navigation links 2</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="static">
            <a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" href="/test4">
                <span class="additional-background ms-navedit-flyoutArrow">
                    <span class="menu-item-text">test4</span>
                </span>
            </a>
        </li>
        <li class="static ms-verticalAlignTop ms-listMenu-editLink ms-navedit-editArea">
            <span class="ms-navedit-editSpan" id="zz12_V4QuickLaunchMenu_NavMenu_Edit">
                <a id="zz12_V4QuickLaunchMenu_NavMenu_EditLinks" class="ms-navedit-editLinksText" href="#" onclick="g_QuickLaunchMenu = null; EnsureScriptParams('quicklaunch.js', 'QuickLaunchInitEditMode', 'zz12_V4QuickLaunchMenu', 2, 0, 1, ''); cancelDefault(event); return false;" title="Edit Links">
                    <span class="ms-displayInlineBlock">
                        <span class="ms-navedit-editLinksIconWrapper ms-verticalAlignMiddle">
                            <img class="ms-navedit-editLinksIcon" src="/_layouts/15/images/spcommon.png?rev=43#ThemeKey=spcommon" alt="Edit Links">
                        </span>
                        <span class="ms-metadata ms-verticalAlignMiddle">Edit Links</span>
                    </span>
                </a>
                <span id="zz12_V4QuickLaunchMenu_NavMenu_Loading" class="ms-navedit-menuLoading ms-hide">
                    <a id="zz12_V4QuickLaunchMenu_NavMenu_GearsLink" href="#" onclick="HideGears(); return false;" title="This animation indicates the operation is in progress. Click to remove this animated image.">
                        <img id="zz12_V4QuickLaunchMenu_NavMenu_GearsImage" src="/_layouts/15/images/loadingcirclests16.gif?rev=43" alt="This animation indicates the operation is in progress. Click to remove this animated image.">
                    </a>
                </span>
                <div id="zz12_V4QuickLaunchMenu_NavMenu_ErrorMsg" class="ms-navedit-errorMsg">
                </div>
            </span>
        </li>
    </ul>
</div>